@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-15{
    @apply rounded-[15px] 
}

body{
    @apply bg-gray-100
}

.profil_img{
    @apply w-[50px] h-[50px] rounded-[50%]
}

.field-rounded{
    @apply text-[15px] text-[rgba(255,255,255,.8)]
}

.no-border::after, .no-border:before{
    @apply border-0 w-0
}

.field-rounded + fieldset{
    border: none !important;
}

@media (max-width: 650px){
    .force-hidden{
        display: none !important;
    } 
}

.scroll-hidden::-webkit-scrollbar{
    width: 0;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    @apply bg-[rgba(0,0,90,.8)]
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}